/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

table {
    margin: 10px 0;
    width: 100%;
}

mat-form-field {
    margin: 7px 0;
}

form {
    display: flex;
    flex-direction: column;
    width: 300px;
}