/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

table {
    margin: 10px 0;
    width: 100%;
}

mat-form-field {
    margin: 5px 0 0 0;
    padding-bottom: 0;
}

.row {
    margin: 4px 0;
}

.error-text {
    margin-top: 0;
    padding-top: 0;
    color: red;
    font-size: 12px;
    font-style: italic;
}

form > div.row {
    display: flex;
    align-items: center;
}

mat-checkbox {
    margin-right: 10px;
}

mat-list-item {
    cursor: pointer;
}